/*hacer que el div no tenga limites de espacio*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*que los botones esten centrados en toda la pagina y tambien el color de fondo*/
div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
    flex-direction: column;
    gap: 50px;
}
/*hacer que el boton tenga un recuadro*/
a{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
/*que aparesca la sombra con el color especificado en el archivo html*/
a:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
/*hacer que el fondo dentro del cuadro sea de este color 27282c*/
a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
/*Aparecer el texto boton en blanco*/
a span{
    position: relative;
    z-index: 1;
}

a i{
    position: absolute;
    inset: 0;
    display: block;
}
/*hacer la linea de arriba*/
a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}
/*mover la linea de arriba del cuadro*/
a:hover i::before{
    width: 20px;
    left: 20%;
}
/*hacer la linea de abajo*/
a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}
/*mover la linea de abajo del cuadro*/
a:hover i::after{
    width: 20px;
    left: 80%;
}